# DuckLake Storage
# DUCKLAKE_CATALOG_PATH=./lake/ducklake.ducklake
# DUCKLAKE_DATA_PATH=./lake/ducklake.files
# DUCKLAKE_METADATA_PATH=./lake/_metadata.db

# Source Postgres
POSTGRES_USER=duckle
POSTGRES_PASSWORD=duckle_secret
POSTGRES_DB=restaurant
POSTGRES_PORT=5433
